# 1 створи/онови .dockerignore в корені проєкту
cat <<EOF > .dockerignore
.config
.local
.git
docker
*.log
EOF

# 2 зупини і видали контейнери та оранки
docker-compose down --remove-orphans

# 3 пересбери образи без кешу
docker-compose build --no-cache

# 4 запусти в фоні
docker-compose up -d

# 5 перевір статус
docker ps
docker-compose logs -f app
