# базове
/vendor
/node_modules
/storage/*
!/storage/app
!/storage/framework
!/storage/logs
docker/mysql/ibdata1
docker/mysql/*.sql
# середовище
.env
.env.*
.idea
*.log

# скомпільовані
/public/storage
/public/images
/public/sitemap.xml
/public/hot
/public/mix-manifest.json

# composer
composer.lock
composer.phar

# mysql docker volume
docker/mysql/*.frm
docker/mysql/*.MYD
docker/mysql/*.MYI
docker/mysql/ib*
docker/mysql/pbcv_vg

# OS
.DS_Store
Thumbs.db
docker/mysql/*
!docker/mysql/*.sql
